<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/back-end/layout">
    <head>
        <meta charset="UTF-8">
        <title>Category Edit to Rokomari Admin</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-fluid">
                <div class="db-breadcrumb">
                    <h4 class="breadcrumb-title">Category</h4>
                    <ul class="db-breadcrumb-list">
                        <li><a href="/admin/dashboard"><i class="fa fa-home"></i>Home</a></li>
                        <li>Category</li>
                    </ul>
                </div>
                <div class="row">
                    <!-- Category Update -->
                    <div class="col-lg-12 m-b30">
                        <div class="widget-box">
                            <div class="wc-title">
                                <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-sm-between gap-3 gap-sm-0">
                                    <h4>Category Update</h4>
                                    <a href="/admin/category" class="btn-dark btn-sm py-2 px-3">Manage</a>
                                </div>
                            </div>
                            <div class="widget-inner">
                                <!-- Update Form Start -->
                                <form class="edit-profile m-b30" method="post" enctype="multipart/form-data" th:object="${category}">
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <img th:src="@{'/images/category/' + ${categoryEntity.image}}" th:alt="${category.name}" width="80" />
                                        </div>
                                        <div class="form-group col-6">
                                            <label class="col-form-label">Category Name</label>
                                            <div>
                                                <input class="form-control" type="text" th:field="${category.name}">
                                                <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="${category.name}"></p>
                                            </div>
                                        </div>
                                        <div class="form-group col-6">
                                            <label class="col-form-label">Category Image</label>
                                            <div>
                                                <input class="form-control" type="file" th:field="${category.image}">
                                                <p th:if="${#fields.hasErrors('image')}" th:errorclass="text-danger" th:errors="${category.image}"></p>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn">Update</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- Update Form End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>